---
import MainLayout from '../layouts/Mainlayout.astro';
import "../css/global.css";
import Firstfeature from '../components/Firstfeature.astro';


import Newsletterbox from '../components/Newsletterbox.astro';

import { ClientRouter } from 'astro:transitions';

let showFirstfeature = true;
---
<MainLayout>
<ClientRouter />

<div id="first-feature-container">
    <Firstfeature />
  </div>


<section class="container">
<video src="">VIDEO</video>
<img class="drinks" src="/public/img_mobile/forside_drinks_mobile.webp" alt="Drinks">
<img class="soho" src="/public/img_mobile/forside_soho_mobile.webp" alt="På Soho">
<p class="balashxsoho">BALASH X SOHO HOUSE</p>
<img class="suppe" src="/public/img_mobile/forside_suppe_mobile.webp" alt="En suppe">
<img class="fisk" src="/public/img/forside_fish.webp" alt="Fisk">
</div>
<Newsletterbox></Newsletterbox>
</MainLayout>
</div>
<style>

@media (max-width: 500px) {
img {
	max-width: 100%;
	margin-top: 0%;
	margin-bottom: 5%;
}
	.container {
	margin: 13%;
}
}

@media (min-width: 501px) and (max-width: 799px){
.container {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}

.container img {
	width: 100%;
	max-width: 799px;
	height: auto;
	object-fit: cover;
	margin-bottom: 5%;
}

.container {
	margin: 13%;
	max-width: 799px;
}

}

@media (min-width: 800px) {
	
	.container {
	margin: 13%;
	max-width: 1410px;
}
	.container img {
        width: 100%; 
		height: 100%;
        object-fit: cover; 
    }
	.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 2%;
}
.drinks {
	grid-column: 2 / 3;
	grid-row: 1;
	object-fit: cover;
}
.soho {
	grid-column: 1 / 3;
	grid-row: 2;
	object-fit: cover;
}
.balashxsoho {
	grid-column: 1 / 3;
	grid-row: 2;
	object-fit: cover;
}
.suppe {
	grid-column: 1 / 2;
	grid-row: 3;
	object-fit: cover;
}

.fisk {
	grid-column: 2 / 3;
	grid-row: 3;
	object-fit: cover;
}
}

</style>

<script>
	if (typeof window !== 'undefined') {
	  
	  if (!localStorage.getItem('hasSeenFirstFeature')) {
		
		const firstFeatureContainer = document.getElementById('first-feature-container');
		
		
		setTimeout(() => {
		  if (firstFeatureContainer) {
			firstFeatureContainer.style.display = 'none';
		  }
		 
		  localStorage.setItem('hasSeenFirstFeature', 'true');
		}, 5000); 
	  } else {
		
		const firstFeatureContainer = document.getElementById('first-feature-container');
		if (firstFeatureContainer) {
		  firstFeatureContainer.style.display = 'none';
		}
	  }
	}
  </script>