<header>
    <ul>
    <li><a href="index.astro"><img src="/public/logo/logo_sort.svg" alt="Logo"></a></li>
    <li><a class="about" href="about.astro">ABOUT</a></li>
    <li><a class="services" href="services.astro">SERVICES</a></li>
    <li><a class="social" href="socialcalendar.astro">SOCIAL CALENDAR</a></li>
    </ul>
</header>

<style>
    header {
        margin: 2%;
    }
img {
    width: 10rem;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    gap: 2.5rem;
    margin-top: 2%;    
}

li {
    color: black;
  text-decoration: none;  
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-size: 1.5rem;
}

li:first-child {
    margin-right: 13em; 
}

a {
    color: black;
    text-decoration: none;  
}

a:hover {
    text-decoration: underline;   
}

li:first-child a:hover {
    text-decoration: none;
}

</style>